@import url(../css/blocks/header.css);
@import url(../css/blocks/promo.css);
@import url(../css/blocks/content.css);
@import url(../css/blocks/module.css);
@import url(../css/blocks/img.css);
@import url(../css/blocks/card-informathin.css);
@import url(../css/blocks/logotip.css);
@import url(../css/blocks/footer.css);
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header {

  background-color: #141414;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
