@import url(../css/blocks/header.css);
@import url(../css/blocks/promo.css);
@import url(../css/blocks/content.css);
@import url(../css/blocks/module.css);
@import url(../css/blocks/img.css);
@import url(../css/blocks/card-informathin.css);
@import url(../css/blocks/logotip.css);
@import url(../css/blocks/footer.css);
a {
  text-decoration: none;
}
.backgraund-text {
  width: 11px;
  height: 11px;
  background: #222;
  margin: 62px 0 65px 650px;
}
main {
  background: #ebebeb;
  position: relative;
  bottom: 16px;
}
li {
  list-style-type: none;
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0.97;
  width: 100%;
  background-color: #141414;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
