.card-informathin-span {
  color: #99823d;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.575px; /* 150.682% */
  letter-spacing: 2.763px;
  text-transform: uppercase;
}
.card-informathin-titel {
  color: #141414;
  text-align: center;
  font-family: Teko;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.955px; /* 99.915% */
  text-transform: capitalize;
}
.card-informathin-blocks {
  display: flex;
}
.card-blocks {
  padding-left: 17px;
}
.card-informathin-text {
  color: #141414;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px; /* 150% */
}
.card-informathions {
  column-gap: 100px;
  row-gap: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.card-informathin-span-subtitel {
  color: #99823d;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.575px; /* 150.682% */
  letter-spacing: 2.763px;
  text-transform: uppercase;
  margin: 47%;
}
.btn {
  background: #99823d;
  width: 392px;
  height: 68px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.85px; /* 148.75% */
  letter-spacing: 2.975px;
  text-transform: uppercase;
  border: 0;
  margin: 90px 400px;
}
