.img-lists {
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: space-between;
  position: inherit;
  padding-top: 136px;
}
.img-list {
  margin-right: 20px;
}
.img-list img {
  width: 100%;
  height: 81%;
}
.img-list {
  animation-name: jackInTheBox 50s;
  visibility: visible;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 411.984px;
  height: 342.297px;
}
.img-list > .img-titel {
  margin: 0px;
  text-align: center;
  position: absolute;
  padding: 9px 33px 9px 33px;

  top: 0;
  left: 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.32px; /* 148.364% */
  letter-spacing: 2.72px;
  text-transform: uppercase;
  background-color: #141414;
}
.img-list > .img-subtitel:nth-child(2) {
  z-index: 2;
}
.img-list > .img-subtitel {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  padding: 0 33px 0 25px;
  bottom: 0;
  width: 206px;
  height: 102px;
  right: 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.32px; /* 148.364% */
  letter-spacing: 2.72px;
  text-transform: uppercase;
  background-color: #99823d;
}
.img-list > .img-text {
  width: 280px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 92px 26px 92px;
  width: 378px;
  height: 68px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: Teko;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.112px; /* 100.431% */
  text-transform: capitalize;
}
.img-subtitel {
  position: relative;
}
.picture-frame {
  display: flex;
  gap: 102px;
  top: 0;

  position: absolute;
}
.line {
  background: #fff;
  width: 1px;
  height: 275px;
}
/* .line{

} */
